/* spiral colors */

.text-beige {
    color: beige;
}

.text-purple {
    color: purple;
}

.text-red {
    color: red;
}

.text-blue {
    color: blue;
}

.text-orange {
    color: orange;
}

.text-green {
    color: green;
}

.text-yellow {
    color: yellow;
}

.text-turquoise {
    color: turquoise;
}